@media screen and (max-width: 1200px) {
    .wrap-contact-full-flex {
        width: 440px;
    }

    .contact-full-flex-map {
        width: calc(100% - 440px);
    }

    .button-prim,
    .button-prim-red,
    .button-prim-green{
        font-size: 1.25em;
    }
}
@media screen and (max-width: 991px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }

    .image.featured img {
        width: 65%;
    }

    .pagination > li > a, .pagination > li > span{
        padding: 4px 16px;
    }
}
@media screen and (max-width: 768px) {
    .wrap-contact-full-flex {
        width: 100%;
    }

    .contact-full-flex-map {
        display: none;
    }

    .image.featured img {
        width: 65%;
    }
}
@media screen and (max-width: 680px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 576px) {
    .main-full-title{
        font-size: 2.75em;
    }

    .full-flex-form-title{
        font-size: 1.75em;
    }

    .image.featured img {
        width: 65%;
    }
}

@media screen and (max-width: 480px) {

    .post > header .meta {
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .post > header .meta > * {
        border-left: 0;
        margin: 1em 0 0 0;
        padding-left: 0;
    }

    .post > header .meta .author .name {
        display: none;
    }

    .post > .image.featured {
        margin-left: -1.5em;
        margin-top: calc(-1em - 1px);
        width: calc(100% + 3em);
    }

    .post > footer {
        -moz-align-items: stretch;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        align-items: stretch;
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .post > footer .stats {
        text-align: center;
    }

    .post > footer .stats li {
        margin: 0 0 0 1.25em;
        padding: 0 0 0 1.25em;
    }

}

@media screen and (max-width: 465px) {
    #back-to-top{
        bottom: 20px;
        right: 20px;
    }

    .pulse-button {
        width: 45px;
        height: 45px;
        font-size: 1.2em;
    }

    .pulse-button:hover:before{
        font-size: 1.3em;
    }

    .main-full-title{
        font-size: 2.25em;
    }

}
@media all and (min-width: 1280px) {
    img.thumbnail {
        height: 200px
    }
}

@media all and (min-width: 1200px){

}
@media all and (min-width: 1324px){

}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    img.thumbnail {
        height: 175px
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    img.thumbnail {
        height: 155px
    }
}
@media all and (min-width: 768px) {

}
@media screen and (max-width: 900px) {

}
@media all and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

@media screen and (max-width: 77em) {

    .outer-nav.top {
        top: 15%;
    }

    .outer-nav.bottom {
        bottom: 15%;
    }
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {

    .outer-nav.top {
        top: 5%;
    }

    .outer-nav.bottom {
        bottom: 5%;
    }

    .outer-nav.horizontal {
        font-size: 1.7em;
        width: 6.2em;
    }

    .outer-nav.horizontal a {
        display: block;
        text-align: left;
    }

    /* Special Case */
    .effect-rotatetop .outer-nav.horizontal {
        width: 95%;
        bottom: auto;
        top: 50%;
    }

    .effect-rotatetop .outer-nav.horizontal a {
        display: inline-block;
    }

}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
    .outer-nav.horizontal,
    .outer-nav.vertical {
        font-size: 1.2em;
        width: 6.8em;
    }

    .outer-nav.right {
        right: auto;
        left: 50%;
    }
}

@media screen and (max-height: 31.6em) {
    .outer-nav a {
        margin-bottom: 20px;
    }
}

.content-error{
    margin: 5em auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}