/*
* general styles
*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ed9600;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#video-viewport {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 998;
  -webkit-filter: grayscale(.5);
}
video {
  display: block;
  width: 100%;
  height: auto;
}

.fullsize-video-bg {
  top: 0;
  min-height: 65vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fullsize-video-bg .inner-video-text {
  width: 100%;
  max-width: 750px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 175px;
  text-align: center;
  z-index: 999;
}

.inner-video-text .cover-title,
.inner-video-text .cover-subtitle{
  color: rgba(237, 150, 0, 1);
  text-shadow: 2px 2px rgba(60, 60, 60, 1);
}

.inner-video-text .cover-title{
   font-size: 2.5em;
 }
.inner-video-text .cover-subtitle{
  text-transform: none;
  font-size: 2em;
}

.tags {
  margin: 0;
  padding: 0;
  right: 24px;
  bottom: -12px;
  list-style: none;
  font-weight: bold;
}

.tags li {
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  margin: 1px;
}

.tags .marginated-tags { margin: .625em; }

.tags li {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background-color: rgba(237, 150, 0, 1);
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;    -webkit-border-bottom-right-radius: 4px;    border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;    -webkit-border-top-right-radius: 4px;    border-top-right-radius: 4px;
}

.tags li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0; height: 0;
  border-color: transparent rgba(237, 150, 0, 1) transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}

.tags li:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;    -webkit-border-radius: 2px;    border-radius: 2px;
  background: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#tags-collection {
  width: 90%; height: auto;
  margin: .5em auto;
  padding: .75em;
  display: none;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

select{
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand { /* for IE 11 */
  display: none;
}

.inverted-title{
  color: rgba(237, 150, 0, 1);
}

/*
* navigation
*/
html, body, .perspective {
  width: 100%;
  height: 100%;
}

.main{
  background: #eaeaea;
  padding: 2em;
  border-bottom: 5px solid rgba(237, 150, 0, 1);
}

.perspective {
  background: #aaa;
  position: relative;
}

.container-wrapped {
  background: #eaeaea;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
  transform: translateZ(0) translateX(0) rotateY(0deg);
}

.container-wrapped::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: rgba(0, 0, 0, .2);
  /* the transition delay of the height needs to be synced with the container transition time */
  -webkit-transition: opacity 0.4s, height 0s 0.4s;
  transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
  position: relative;
}

.component {
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.modalview .container-wrapped {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modalview .wrapper {
  -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container-wrapped::after {
  opacity: 1;
  height: 101%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-control{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1.55em;
}

.form-control:focus{
  border-color: rgba(237, 150, 0, 1);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.has-error .form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Outer Nav */
.outer-nav {
  position: absolute;
  height: auto;
  font-size: 2em;
}

.outer-nav.vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav.horizontal {
  left: 50%;
  width: 75%;
  max-width: 1000px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outer-nav.left {
  left: 25%;
}

.outer-nav.right {
  right: 25%;
}

.outer-nav.top {
  top: 25%;
}

.outer-nav.bottom {
  bottom: 25%;
}

.outer-nav a {
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
  margin: 0 0 30px 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav.vertical a {
  display: block;
}

.outer-nav.horizontal a {
  margin: 15px 20px;
}

.outer-nav a::before {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.active-prim{
  background-color: rgba(237, 150, 0, 1);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.active-prim:hover{
  background-color: rgba(237, 200, 50, 1);
}

.nav > li > a{
  border: 1px solid rgba(237, 150, 0, 1);
}
.nav > li > a:hover, .nav > li > a:focus{
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background-color: rgba(237, 200, 50, .55);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-logo{
  margin-bottom: .5em;
}
.nav-logo > img {
  display: inline-block;
  margin: 0 auto;
}

.nav-logo-single > img{
  display: block;
  margin: 0 auto;
}

/* Effect airbnb */
.effect-airbnb {
  background: rgba(60, 60, 60);
}

.effect-airbnb .container-wrapped {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.effect-airbnb.animate .container-wrapped {
  -webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
  transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
}

.no-csstransforms3d .effect-airbnb.animate .container-wrapped {
  left: 75%;
}

.effect-airbnb .outer-nav a {
  opacity: 0;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.effect-airbnb.animate .outer-nav a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.effect-airbnb.animate .outer-nav a:nth-child(2) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}

.effect-airbnb.animate .outer-nav a:nth-child(3) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}

.effect-airbnb.animate .outer-nav a:nth-child(4) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.effect-airbnb.animate .outer-nav a:nth-child(5) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}

.effect-airbnb.animate .outer-nav a:nth-child(6) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.effect-airbnb.animate .outer-nav a:nth-child(7) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

/**
*   pagination
*/
.pagination-centered { text-align: center; }

.pagination-left { text-align: left; }

.pagination-right { text-align: right; }

.pagination-layout ul {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover,
.pagination > li.disabled > a:focus, .pagination > li.disabled > a:hover, .pagination > li.disabled > span:focus, .pagination > li.disabled > span:hover{
  border: 1px solid rgba(237, 150, 0, .25);
}

.pagination > li > a, .pagination > li > span{
  padding: 12px 24px;
}

.pagination-layout ul.pagination a { color: rgba(237, 150, 0, 1); }

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover{
  color: rgba(237, 150, 0, 1);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: rgba(237, 150, 0, .75);
  border-color: rgba(237, 150, 0, .55);
}

.pagination > li > a{
  color: rgba(237, 150, 0, 1) !important;
  text-decoration: none !important;
}

/**
* contact page
*/

.container-contact-full-flex {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact-full-flex-map {
  position: absolute;
  z-index: -2;
  width: calc(100% - 640px);
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact-full-flex {
  width: 640px;
  min-height: 100vh;
  background: rgba(245, 245, 245, 1);
  border-radius: 2px;
  padding: 22px 55px 33px 25px;
  position: relative;
  border-left: 5px solid rgba(237, 150, 0, 1);
}

.show-wrap-contact-full-flex {
  visibility: visible;
  opacity: 1;
}

.contact-info-sub{
  width: 100%;
  margin-bottom: 1em;
}

.contact-full-flex-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

.full-flex-form-title{
  display: block;
  width: 100%;
  font-size: 2em;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: .2em;
}

.gm-style-iw{
  color: #7c7c7c;
  font-weight: bold;
}

ul.info-sub-list .list-group-item{
  padding: .2em;
  color: #7c7c7c;
}
ul.info-sub-list li i {
  color: rgba(237, 150, 0, 1);
  margin-right: 1em;
}
ul.info-sub-list li a {
  color: #7c7c7c;
  text-decoration: underline;
}

.container-contact-full-flex input {
  outline: none;
  border: none;
}

.container-contact-full-flex textarea {
  outline: none;
  border: none;
}

.container-contact-full-flex textarea:focus, input:focus {
  border-color: transparent !important;
}

.container-contact-full-flex input:focus::-webkit-input-placeholder { color:transparent; }
.container-contact-full-flex input:focus:-moz-placeholder { color:transparent; }
.container-contact-full-flex input:focus::-moz-placeholder { color:transparent; }
.container-contact-full-flex input:focus:-ms-input-placeholder { color:transparent; }

.container-contact-full-flex textarea:focus::-webkit-input-placeholder { color:transparent; }
.container-contact-full-flex textarea:focus:-moz-placeholder { color:transparent; }
.container-contact-full-flex textarea:focus::-moz-placeholder { color:transparent; }
.container-contact-full-flex textarea:focus:-ms-input-placeholder { color:transparent; }

.container-contact-full-flex input::-webkit-input-placeholder {color: rgba(150, 150, 150, 1);}
.container-contact-full-flex input:-moz-placeholder {color: rgba(150, 150, 150, 1);}
.container-contact-full-flex input::-moz-placeholder {color: rgba(150, 150, 150, 1);}
.container-contact-full-flex input:-ms-input-placeholder {color: rgba(150, 150, 150, 1);}

.container-contact-full-flex textarea::-webkit-input-placeholder {color: rgba(150, 150, 150, 1);}
.container-contact-full-flex textarea:-moz-placeholder {color: rgba(150, 150, 150, 1);}
.container-contact-full-flex textarea::-moz-placeholder {color: rgba(150, 150, 150, 1);}
.container-contact-full-flex textarea:-ms-input-placeholder {color: rgba(150, 150, 150, 1);}

.wrap-input-full-flex {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(150, 150, 150, 1);
  margin-bottom: 45px;
}

.label-input-full-flex {
  font-size: 18px;
  color: rgba(150, 150, 150, 1);
  line-height: 1.2;
  padding-left: 2px;
}

.input-full-flex {
  display: block;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1.55em;
}

.focus-input-full-flex {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.focus-input-full-flex::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(237, 150, 0, 1);
  background: -webkit-linear-gradient(45deg, rgba(237, 150, 0, 1), rgba(237, 200, 50, 1));
  background: -o-linear-gradient(45deg, rgba(237, 150, 0, 1), rgba(237, 200, 50, 1));
  background: -moz-linear-gradient(45deg, rgba(237, 150, 0, 1), rgba(237, 200, 50, 1));
  background: linear-gradient(45deg, rgba(237, 150, 0, 1), rgba(237, 200, 50, 1));
}

input.input-full-flex {
  height: 50px;
}

textarea.input-full-flex {
  min-height: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
  resize: none;
}

.input-full-flex:focus + .focus-input-full-flex::before {
  width: 100%;
}

.has-val.input-full-flex + .focus-input-full-flex::before {
  width: 100%;
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #fb3a3a;
  border-radius: 5px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  color: #fb3a3a;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f071";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #fb3a3a;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.true-validate::after {
  content: "\f14a";
  font-family: FontAwesome;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}

/**
* buttons
*/

.btn-main-class,
.btn-main-class-static{
  text-decoration: none;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  padding: .75em;
  border: 1px solid rgba(237, 150, 0, 1);
  background-color: rgba(237, 150, 0, 1);
  border-radius: 0;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
a.btn-main-class,
a.btn-main-class-static{
  text-decoration: none;
}
.btn-main-class:hover,
.btn-main-class-static:hover{
  color: #FFFFFF;
}
.btn-main-class i{
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-main-class:hover i{
  padding-left: 2.5em;
  padding-right: .5em;
  color: #FFFFFF;
}

.btn-main-clear-text{
  font-size: 1.25em;
  font-weight: 500;
}

.button-prim,
.button-prim-red,
.button-prim-green{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-prim{
  color: rgba(237, 150, 0, 1);
  border: 1px solid rgba(237, 150, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.button-prim-red{
  color: rgba(251, 58, 58, 1);
  border: 1px solid rgba(251, 58, 58, 1);
  background-color: rgba(255, 255, 255, 1);
}
.button-prim-green{
  color: rgba(58, 236, 114, 1);
  border: 1px solid rgba(58, 236, 114, 1);
  background-color: rgba(255, 255, 255, 1);
}
.button-prim:hover {
  color: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(237, 150, 0, .5);
  background-color: rgba(237, 150, 0, 1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-prim-red:hover {
  color: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(251, 58, 58, .5);
  background-color: rgba(251, 58, 58, 1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-prim-green:hover {
  color: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(58, 236, 114, .5);
  background-color: rgba(58, 236, 114, 1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-prim:hover:before,
.button-prim-red:hover:before,
.button-prim-green:hover:before{
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-prim:active,
.button-prim-red:active,
.button-prim-green:active{
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-prim:before,
.button-prim-red:before,
.button-prim-green:before{
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

#showMenu{
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 9999;
}

.pulse-button:before{
  content: "\f0c9";
  font-family: FontAwesome;
}
.pulse-button {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  position: relative;
  color: #FFFFFF;
  width: 65px;
  height: 65px;
  border: none;
  font-size: 1.5em;
  box-shadow: 0 0 0 0 rgba(237, 200, 50, 1);
  border-radius: 50%;
  background-color: rgba(237, 150, 0, 1);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulseBox 1.25s 5 cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulseBox 1.25s 5 cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulseBox 1.25s 5 cubic-bezier(0.66, 0, 0, 1);
  animation: pulseBox 1.25s 5 cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

.pulse-button:hover:before{
  font-size: 1.6em;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@-webkit-keyframes pulseBox {to {box-shadow: 0 0 0 15px rgba(237, 200, 50, .5);}}
@-moz-keyframes pulseBox {to {box-shadow: 0 0 0 15px rgba(237, 200, 50, .5);}}
@-ms-keyframes pulseBox {to {box-shadow: 0 0 0 15px rgba(237, 200, 50, .5);}}
@keyframes pulseBox {to {box-shadow: 0 0 0 15px rgba(237, 200, 50, .5);}}

#admin-color{
  background: rgba(150, 150, 150, 1) url('assets/images/shattered.png') repeat;
}

.login-container{
  width: 95%;
  margin: 1em auto;
  padding: 1em;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(237, 150, 0, .75);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10002;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(237, 150, 0, 1);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.content-error{
  margin: 5em auto;
}


/**
* news page
*/
h1, h2, h3, h4, h5, h6 {
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: .15em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

.main-content{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1em;
}

.un-padded-un-marginated{
  padding: 0;
  margin: 0;
}

.main-full-title{
  width: 100%;
  font-size: 4em;
  text-align: center;
  line-height: 1.2;
  margin: .2em auto;
}

h2.main-full-title{
  font-size: 2.25em;
  text-align: center;
  line-height: 1.1;
}


/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.featured {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.featured img {
  width: 55%;
  margin: 0 auto;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}


/* Mini Post */
.mini-post {
  display: flex;
  -moz-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  background: #ffffff;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin: 0 0 2em 0;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.mini-post .image {
  overflow: hidden;
  width: 100%;
}

.mini-post .image img {
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  width: 100%;
}

.mini-post .image:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.mini-post header {
  padding: 1.25em 4.25em 0.1em 1.25em ;
  min-height: 4em;
  position: relative;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

.mini-post header h3 {
  font-size: 0.95em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.mini-post header .published {
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: -0.625em 0 1.7em 0;
  text-transform: uppercase;
}

.mini-posts {
  margin: 0 0 2em 0;
}

/* Post */

#post-extended{
  width: 95%;
}

.post {
  padding: 3em 3em 1em 3em ;
  background: #ffffff;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin: 0 0 3em 0;
  position: relative;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.post > header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  left: -3em;
  margin: -3em 0 3em 0;
  position: relative;
  width: calc(100% + 6em);
}

.post > header .title {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;
  padding: 3.75em 3em 3.3em 3em;
}

.post > header .title h2 {
  font-weight: 900;
  font-size: 1.5em;
}

.post > header .title > :last-child {
  margin-bottom: 0;
}

.post > header .meta {
  padding: 3.75em 3em 1.75em 3em ;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  min-width: 17em;
  text-align: center;
  width: 17em;
}

.post > header .meta > * {
  margin: 0 0 1em 0;
}

.post > header .meta > :last-child {
  margin-bottom: 0;
}

.post > header .meta .published {
  color: #3c3b3b;
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin-top: 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

.post > a.image.featured {
  overflow: hidden;
}

.post > a.image.featured img {
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.post > a.image.featured:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.post > footer {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.post > footer .actions {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

.post > footer .stats {
  cursor: default;
  list-style: none;
  padding: 0;
}

.post > footer .stats li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  display: inline-block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 1;
  margin: 0 0 0 2em;
  padding: 0 0 0 2em;
  text-transform: uppercase;
}

.post > footer .stats li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.post a,
.mini-posts a{
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160, 160, 160, 0.25);
  color: rgba(100, 100, 100, 1);
  text-decoration: none;
}

.post a.non-bordered{
  border: 0;
}

.bordered-post-content{
  border-top: 1px dashed rgba(237, 150, 0, 1);
}

.post a:before,
.mini-posts a:before{
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.post a:hover,
.mini-posts a:hover{
  border-bottom-color: transparent;
  color: rgba(237, 150, 0, 1) !important;
}

.post a:hover:before,
.mini-posts a:hover:before{
  color: rgba(237, 150, 0, 1) !important;
}

/* Section/Article */

section.special, article.special {
  text-align: center;
}

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#header a {
  color: inherit;
  text-decoration: none;
}

#header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header ul li {
  display: inline-block;
  padding-left: 0;
}

#header h1 {
  height: inherit;
  line-height: inherit;
  padding: 0 0 0 1.5em;
  white-space: nowrap;
}

#header h1 a {
  font-size: 0.7em;
}

#header .links {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
  line-height: inherit;
  margin-left: 1.5em;
  overflow: hidden;
  padding-left: 1.5em;
}

#header .links ul li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
}

#header .links ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#header .links ul li a {
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#header .main {
  height: inherit;
  line-height: inherit;
  text-align: right;
}

#header .main ul {
  height: inherit;
  line-height: inherit;
}

#header .main ul li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
  line-height: inherit;
  white-space: nowrap;
}

#header .main ul li > * {
  display: block;
  float: left;
}

#header .main ul li > a {
  text-decoration: none;
  border-bottom: 0;
  color: #aaaaaa;
  overflow: hidden;
  position: relative;
  text-indent: 4em;
  width: 4em;
}

#header .main ul li > a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header .main ul li > a:before {
  display: block;
  height: inherit;
  left: 0;
  line-height: inherit;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: inherit;
}

#header form {
  margin: 0;
}

#header form input {
  display: inline-block;
  height: 2.5em;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

#header #search {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

#header #search input {
  width: 12em;
}

#header #search.visible {
  max-width: 12.5em;
  opacity: 1;
  padding: 0 0.5em 0 0;
}

/* Wrapper */

#wrapper-news {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  margin: 0 auto;
  max-width: 100%;
  opacity: 1;
  padding: 4.5em;
  width: 110em;
}

#wrapper-extended{
  width: 100%;
}

body.is-menu-visible #wrapper-news {
  opacity: 0.15;
}

body.single #wrapper-news {
  display: block;
}

/* Main */

#main-news-content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;
  width: 100%;
  min-height: 75vh;
}

/* Sidebar */

#sidebar {
  margin-right: 3em;
  min-width: 22em;
  width: 22em;
}

#sidebar > * {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  margin: 3em 0 0 0;
  padding: 3em 0 0 0;
}

#sidebar > :first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}


/* Intro */

.intro-img{
  display: block;
  margin: .2em auto;
}

#intro header h2 {
  font-size: 2em;
  font-weight: 900;
}

#intro header p {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.gal {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.gal img{
  width: 95%;
  padding: .5em 0;
}

#imagelightbox {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

#imagelightbox-close,
#imagelightbox-loading {
  width: 2.5em;
  height: 2.5em;
  background-color: rgba(237, 150, 0, 1);
  position: fixed
}
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}
#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%
}
#imagelightbox-loading {
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: .625em;
  margin: -1.25em 0 0 -1.25em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}
#imagelightbox-loading div {
  width: 1.25em;
  height: 1.25em;
  background-color: rgba(255, 255, 255, .9);
  -webkit-animation: imagelightbox-loading .5s ease infinite;
  animation: imagelightbox-loading .5s ease infinite
}
#imagelightbox-overlay {
  background-color: rgba(255, 255, 255, .9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}
#imagelightbox-close {
  text-align: left;
  border-radius: 50%;
  z-index: 10002;
  top: 2.5em;
  right: 2.5em;
  border: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

#imagelightbox-close:focus,
#imagelightbox-close:hover {
  background-color: rgba(237, 150, 0, .75);
}
#imagelightbox-close:after,
#imagelightbox-close:before {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px
}
#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.imagelightbox-arrow {
  width: 3.75em;
  height: 7.5em;
  background-color: rgba(237, 150, 0, 1);
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  border: none;
  margin-top: -3.75em
}
.imagelightbox-arrow:focus,
.imagelightbox-arrow:hover {
  background-color: rgba(237, 150, 0, .75)
}
.imagelightbox-arrow:active {
  background-color: rgba(237, 150, 0, 1)
}
.imagelightbox-arrow-left {
  left: 2.5em
}
.imagelightbox-arrow-right {
  right: 2.5em
}
.imagelightbox-arrow:before {
  width: 0;
  height: 0;
  border: 1em solid transparent;
  content: '';
  display: inline-block;
  margin-bottom: -.125em
}
.imagelightbox-arrow-left:before {
  border-left: none;
  border-right-color: #fff;
  margin-left: -.313em
}
.imagelightbox-arrow-right:before {
  border-right: none;
  border-left-color: #fff;
  margin-right: -.313em
}
#imagelightbox-caption,
#imagelightbox-close,
#imagelightbox-loading,
#imagelightbox-nav,
#imagelightbox-overlay,
.imagelightbox-arrow {
  -webkit-animation: fade-in .25s linear;
  animation: fade-in .25s linear
}

/**
*   content directives
*/
.previousContent,
.nextContent{
  position: fixed;
  z-index: 100;
  top: 30%;
  width: 50px; height: 100px;
  line-height: 120px;
  border: 1px solid rgba(255, 255, 255, .15);
  background: #ffffff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.previousContent a,
.nextContent a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(237, 150, 0, 1);
}

.previousContent{
  left: -25px;
  border-top-right-radius: 4px; -moz-border-top-right-radius: 4px; -webkit-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; -moz-border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px;
}

.nextContent {
  right: -25px;
  border-top-left-radius: 4px; -moz-border-top-left-radius: 4px; -webkit-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; -moz-border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;
}

.previousContent:hover{ left: 0; }
.nextContent:hover { right: 0; }

/**
* footer
*/
.red{
  color: #e42626;
}
#footer{
  border-top: 4px solid rgba(237, 150, 0, 1);
  background: rgba(60, 60, 60, 1);
  padding: .5em;
  width: 100%;
  height: auto;
  color: rgba(190, 190, 190, 1);
}

#footer a{
  color: rgba(237, 150, 0, .75);
}

.social-icons-nav{
  margin: .5em auto;
  text-align: center;
  padding: 0;
}

.social-icon{
  display: inline-block;
  width: auto;
  min-width: 10%;
  max-width: 20%;
  margin: 0 auto;
}

#footer .social-icon > a{
  color: rgba(190, 190, 190, 1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#footer .social-rss > a:hover,
#footer .social-rss > a:active{
  color: rgba(237, 150, 0, 1);
}
#footer .social-facebook > a:hover,
#footer .social-facebook > a:active{
  color: rgba(59, 89, 152, 1);
}
#footer .social-twitter > a:hover,
#footer .social-twitter > a:active{
  color: rgba(38, 190, 228, 1);
}
#footer .social-youtube > a:hover,
#footer .social-youtube > a:active{
  color: rgba(228, 33, 38, 1);
}

/**
* galleries
*/

.gallery-content{
  padding: 2em;
  width: 100%;
  min-height: 75vh;
  background: #ffffff;
  border: solid 1px rgba(160, 160, 160, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 1em;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.framed {
  position: relative;
}

.framed:hover > .overlay,
.framed:focus > .overlay,
.framed:hover > .overlay > .overlay-link,
.framed:focus > .overlay > .overlay-link{
  transition: all 0.3s ease-out;
  padding: .5em;
  font-weight: bold;
}

.framed:after {
  border: 5px solid rgba(255, 255, 255, .5);
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
}

/* Let the overlay handle the bottom "border" */
.framed.with-overlay:after {
  border-bottom: 0 none;
}

.overlay {
  background-attachment: scroll;
  background-clip: border-box;
  background: rgba(255, 255, 255, 0.7);
  background-origin: content-box;
  bottom: 0;
  left: 0;
  margin: 0 20px;
  position: absolute;
  right: 0;
  padding: .3em;
}

.overlay-link{
  display: block;
  width: 100%;
  height: 100%;
  color: #0b0b0b;
  text-decoration: none;
}

.overlay-link:visited{
  color: #0b0b0b;
}

.gallery-cont img{
  height: 300px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
  background-color: rgba(255, 255, 255, 1);
  color: rgba(60, 60, 60, 1);
  border: solid 1px rgba(160, 160, 160, .3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background-color: rgba(237, 150, 0, 1);
  color: #FFFFFF;
  border: solid 1px rgba(160, 160, 160, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#photos {
  line-height: 0;
  min-height: 75vh;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  border: 1px dashed rgba(0, 0, 0, .1);
  width: 100% !important;
  height: auto !important;
}

/**
* athletes page
*/

.male-btn { color: #3180e1; }
.female-btn { color: #d71e64; }
.bronze-btn { color: #ab8024; }
.silver-btn { color: #ccc7bb; }
.gold-btn { color: #fcc44b; }

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid rgba(237, 150, 0, 1);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left-time,
.right-time{
  display: none;
}
.left-time {
  left: 0;
}

.right-time {
  left: 50%;
}

.left-time::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right-time::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right-time::after {
  left: -12px;
}

.athlete-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.athlete-image > img {
  display: block;
  margin: 0 auto;
}

.athlete-name,
.athlete-birth{
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.athlete-name{
  font-size: 1.4em;
  text-align: center;
}

.athlete-birth{
  font-size: 1em;
  text-align: center;
}

blockquote {
  background: rgba(245, 245, 245, 1);
  border-left: 5px solid rgba(237, 150, 0, 1);
  margin: .5em auto;
  padding: 1em;
  content: " ";
}
blockquote:before,
blockquote:after{
  content: " ";
}

/**
* footer content
*/
.sponsors{
  padding: .5em;
}

.sponsor-img{
  margin: auto .5em;
  display: inline-block;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.sponsor-img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
}

hr.faint{
  background-color: rgba(75, 75, 75, 1);
  border-top: 2px dotted rgba(75, 75, 75, 1);
}

.footer-logo{
  display: inline-block;
}

/**
* homepage
*/

#cover{
  border-bottom: 4px solid rgba(237, 150, 0, 1);
}

.cover-scroller{
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  top: 350px;
}
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid #FFFFFF;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/**
* homepage
*/

.incremented-title{
  font-size: 2.15em;
}

#calendar{
  width: 95%;
  margin: 1em auto;
  padding: 2em;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.fc-event .fc-content{
  padding: 1.25em;
}

.fc-day-grid-event{
  font-weight: bold;
}

#latest-news,
#about-us,
#athletes{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2em;
}

#latest-news{
  background: rgba(60, 60, 60, 1);
  color: rgba(190, 190, 190, 1);
}

#about-us{
  background: rgba(255, 255, 255, 1);
  color: rgba(100, 100, 100, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

blockquote.about {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote.about:before {
  content: '\201C';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote.about:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: rgba(237, 150, 0, 1);
}

#athletes{
  background: rgba(255, 255, 255, 1);
  color: rgba(100, 100, 100, 1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
}

.team-image img{
  display: inline-block;
  margin: .5em auto;
}

.team-item{
  padding: .5em;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

/**
* latest news slider
*/

.carousel-inner{
  width: 75%;
  margin: 1em auto;
  text-align: center;
}

.carousel-indicators{
  bottom: -20px;  
}

.carousel-control{
  top: 100px;
}

.carousel-news-title > a{
  color: rgba(190, 190, 190, 1);
  text-decoration: underline;
}


.carousel-control:hover > i {
  color: rgba(237, 150, 0, 1);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.carousel-control.left,
.carousel-control.right{
  background: none;
}

.small-slider-img{
  max-width: 150px;
}

/**
* hidden scrolling navigation
*/
.hidden-scroller{
  position: fixed;
  top: 0;
  display: none;
  z-index: 999;
  width: 100%;
  background: rgba(60, 60, 60, 1);
  border-bottom: 2px solid rgba(237, 150, 0, 1);
}

.hidden-scroller > ul.nav-scroller {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.hidden-scroller > ul.nav-scroller > li {
  float: none;
  display: table-cell;
}

.nav-scroller > li{
  width: 100%;
  background: rgba(60, 60, 60, 1);
}
.nav-scroller > li.active-prim{
  background: rgba(237, 150, 0, 1)
}

.nav-scroller > li,
.nav-scroller > li.active-prime{
  border-right: 1px solid rgba(237, 150, 0, 1);
}
.nav-scroller > li:last-child,
.nav-scroller > li.active-prime:last-child{
  border: none;
}

.nav-scroller > li > a,
.nav-scroller > li.active-prime > a{
  color: #FFFFFF;
  text-align: center;
  margin: .5em;
  border: none;
}

.nav-scroller > li:last-child > a,
.nav-scroller > li.active-prime:last-child > a{
  border: none;
}